# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
#.env

# ngrok
ngrok.exe

# pruebas.js
pruebas.js

# cliente de la API Rest
client.js

